PORT=5000
MONGO_URI=mongodb://localhost:27017/hirematch
JWT_SECRET=your_super_secret_jwt_key_change_this
JWT_EXPIRE=7d
NODE_ENV=production
ML_SERVICE_URL=https://hirematchml.onrender.com
FRONTEND_URL=https://hire-match-zyv6.vercel.app
UPLOAD_PATH=./uploads
MAX_FILE_SIZE=5242880
